<p>
	<strong>Do you know my book about Node.js?</strong>
</p>
<p>
	<a href="https://casadocodigo.refersion.com/l/630.1389" rel="me" title="Aplicações web real-time com Node.js" target="_blank">
		<img src="/images/banner-book-nodejs.png" width="251" height="77" alt="Aplicações web real-time com Node.js">
	</a>
</p>