.carbon_ads {
  width: 90%;
  height: 120px;
  font-size: 12px;
  padding: 5px 15px;
  display: block;
  margin: 0 auto;
}
.carbon_ads a {
  text-decoration: none;
  display: block;
}
.carbon_ads .carbon-poweredby {
  font-weight: bold;
}